@use 'variables';
main{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    h1{
        font-family: sans-serif;
        font-size: 5rem;
        text-align: center;
    }
    p{
        color: variables.$gray;
        width: 60%;
        font-size: 1.5rem;
        text-align: center;
        display: inline;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }



    h4{
        width: max-content;
        text-align: center;
        color: variables.$gray;
        font-family: monospace;
        font-weight: 1;
        font-size: 1rem;
        p{
            a{
                transition: variables.$trans;
                text-decoration: none;
                color: variables.$black;
                font-size: 1rem;
            }
            border-bottom: 1px solid variables.$cyan;
            width: max-content;
            display: inline;
            text-transform: none;
            &:hover{
                a{
                    color: variables.$cyan;
                }
            }
        }
    }

    .works{
        display: none;
        div{
            width: 15rem;
            height: 15rem;
            border: 1px solid variables.$white;
            clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }
    }
}