@use 'variables';

//mobile-view
@media(max-width: 767px) {
    html{
        padding: none;
    }
    nav{
        flex-direction: column;
        align-items: center;
        .center{
            display: block;
        }
        .left{
            display: flex;
            flex-direction: column;
            ul{
                li{
                    padding: 0;
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            ul{
                li{
                    padding: 0;
                }
            }
        }
    }

    .connect{
        flex-direction: column;
        a{
            width: 80%;
            .sub{
                width: 100%;
            }
        }
        #sub{
            width: 80%;
        }
    }

    main{
        p{
            width: 90%;
        }
    }
}