//variables
@import url(https://fonts.bunny.net/css);
$white : #fff;
$gray : #6b6b6b;
$clay : #ee6557;
$cyan : #16a6b6;
$transcyan : rgba(22, 166, 180, 0.9);
$bright : #f5f5f5;
$black : #181818;
$deepclay : #cb2514;
$lightgray : #aaa;
$lightergray : #c5c5c5;
//transition
$trans : all .5s ease-in-out;