@use 'variables';
@use 'nav';
@use 'main';
@use 'connect';
@use 'partners';
@use 'reviews';
@use 'footer';
@use 'stats';
@use 'queries';
@use 'about';
@use 'intern';

html{
    background-color: variables.$white;
    padding: 1rem;
    scroll-behavior: smooth;
}
body{
    background-color: variables.$bright;
}

hr{
    width: 60%;
    margin-top: 2rem;
}

*{
    scroll-behavior: smooth;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.float{
    z-index: 10;
    width: 3rem;
    height: 3rem;
    border-radius: 7px;
    background-color: variables.$gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 9%;
    right: 2%;
    transition: variables.$trans;
    &:hover{
        background-color: variables.$cyan;
    }
    i{
        color: variables.$white;
    }
}

@media screen and (max-width:767px) {
    main{
        h4{
            width: 70%;
        }
    }
    nav{
        display: flex;
        align-items: center;
        .nav-big{
            display: none;
        }
        .nav-sml{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            img{
                width: 10rem;
            }
            .pages{
                justify-content: center;
                flex-wrap: wrap;
                display: flex;
                align-items: center;
                gap: 3rem;
                p{
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 1rem;
                        font-weight: 1;
                        font-family: monospace;
                        color: variables.$black;
                        transition: variables.$trans;
                        &::after{
                            color: variables.$clay;
                        }
                    }
                }
            }
        }
    }

    .intern{
        .honey{
            clip-path: none;
        }
    }

    .buffsnap{
        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
        .sub{
             clip-path: none;
             width: 100%;
             img{
                transform: scale(1);
                object-fit: contain;
             }
           }
    }
    }
}
