@use 'variables';
@use 'nav';
@use 'main';
@use 'connect';
@use 'partners';
@use 'reviews';
@use 'footer';
@use 'stats';
@use 'queries';

html{
    background-color: variables.$white;
    padding: 1rem;
}
body{
    background-color: variables.$bright;
}



